/* .container {
    display: flex;
    flex-direction: row;
}

.Update {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    border: solid 1px white;
    width: 40%;
}

.Update .form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.containG {
    padding-top: 30px;
    padding-bottom: 30px;
   
} */




/* .containG h2 {
    padding-bottom: 20px;
}

.containG .generos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
} */